.card-header {
    display: flex;
    align-items: center;
}

.card-body:nth-child(n+3) {
    border-top: 1px solid #ddd;
}

.entity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid #ddd;
    color: #636b6f;
    padding: 15px;
}

.entity-btn {
    display: flex;
}

.entity-add {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.bc {
    display: flex;
}